
<div class="user">
  <%= params[:question] %>
</div>
<div class="coach">
<% if params[:question] == "I am going to work" %>
 <%= "Great!" %>
<% elsif params[:question] == "?" %>
<%="Silly question, get dressed and go to work!" %>

<% else %>
<%= "I don't care, get dressed and go to work!" %>

<% end %>
</div>

<%= link_to "ask a new question", ask_path, class:"linkto" %>
